.card-pf {
	max-width: 650px;
	width: 100%;
	box-shadow: none;
	border-top: none;
}

.pf-c-form-control {
	border: 1px solid rgba(228, 230, 239, 1);
}

.pf-c-form-control:hover, .pf-c-form-control:focus {
	border-bottom: 1px solid rgba(228, 230, 239, 1);
}

/* Login Page */

.login-pf .bodyLogin {
	display: flex;
	background-color: #fff;
}

h2#kc-page-title {
	font-size: 30px;
	font-weight: 700;
	color: rgba(50, 59, 75, 1);
	display: flex;
	justify-content: center;
}


.login-pf body.bodyLogin  form#kc-register-form {
	max-width: 450px;
    margin: auto;
}

.bodyLogin .regLogin {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 600;
} 

.bodyLogin > * {
	width: 50%;
}

.bodyLogin a {
	margin-left: 0.6rem;
	color: rgba(56, 166, 64, 1);
	border: none;
}

form#kc-form-login {
	font-size: 1rem;
}

form .pf-c-form__label {
	font-size: .87rem;
	padding-bottom: 4px;
} 

#kc-form-options .checkbox > label {
	padding-left: unset;
}

#kc-form-options .checkbox > label input[type="checkbox"] + span.chackboxValue {
	display: flex;
	align-items: center;
	margin: 0.2em;
	cursor: pointer;
	padding: 0.2em;
}

.checkbox > label input[type="checkbox"] {
	display: none;
}

.checkbox > label input[type="checkbox"] + span.chackboxValue::before {
	content: "✔";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1rem;
	height: 1rem;
	border: 0.1em solid rgba(56, 166, 64, 1);
	border-radius: 0.2em;
	margin-right: 0.5em;
	color: transparent;
	transition: .2s;
}

.checkbox > label input[type="checkbox"]:active + span.chackboxValue::before {
	transform: scale(0);
}
  
.checkbox > label input[type="checkbox"]:checked + span.chackboxValue::before {
	color: rgba(56, 166, 64, 1);
	transform: scale(1);
}

.orLine {
	display: flex;
	font-size: 18px;
}

.orLine::before,
.orLine::after {
	content: '';
	position: relative;
	flex: 1;
	border-bottom: 1px solid #E4E6EF;
	margin: auto 0.25em;
	padding-top: 4px;
}

#kc-form-login .forgotPassLinkContainer {
	padding-top: .5rem;
}

#kc-form-login .forgotPassLink {
	font-size: 1rem;
	color: rgba(255, 68, 45, 1)
	/* text-decoration: none; */
	/* padding-left: .5rem; */
}


.login-pf-page {
	padding: 0;
}

#kc-header {
	display: none;
}

.login-pf-page {
	height: inherit;
	display: flex;
	align-items: center;
}




/* login social */

div.socialAccContainer {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(5, 1fr);
	/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
	grid-gap: 1rem;
	margin: 1rem 0;
	--pf-l-grid__item--GridColumnEnd: inherit
}

.carouselContainer > button.limited {
	background-color: rgba(56, 166, 64, 1);
	color: rgba(255, 255, 255, 1);
}

div.socialAccContainer > .socialAcc {
	width: fit-content;
	padding: 0.8rem 1.5rem;
}

div.socialAccContainer > .socialAcc .socialIconText {
	display: none;
}

.login-pf a:hover {
	color: inherit;
}

.kc-social-provider-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-facebook:before {
	content: url("../img/facebookOrg.svg");
}

.fa-google:before {
	content: url("../img/googleOrg.svg");
}

.fa-linkedin:before {
	content: url("../img/linkedinOrg.svg");
}

.fa-twitter:before {
	content: url("../img/twitterOrg.svg");
}

.form-group .loginSubmit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem 1.5rem;
	background-color: rgba(56, 166, 64, 1);
	border: none;
	border-radius: 1px;
	color: rgba(255, 255, 255, 1);
	/* margin-top: 1.5rem; */
}

aside.feelterReason {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(56, 166, 64, 0.04);
	padding: 5% 0;
}

/* Reset password */

.login-pf body.resetPass {
	background-color: #fff;
}

.login-pf body.resetPass .card-pf {
	max-width: 600px;
}

.login-pf body.resetPass header.login-pf-header {
	align-items: center;
}

.login-pf body.resetPass #kc-content {
	max-width: 23.5rem;
	margin: auto;
}

form#kc-reset-password-form + #kc-info {
	display: none;
}



/* input:focus-visible {
	border-color: #959595;
	outline-offset: 0px;
} */

input:focus {
	color: #3f4254;
	background-color: #fff;
	border: 1px solid #959595;
	outline: 0;
	box-shadow: none;
}

.feelterReason .feelterAdvantages{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feelterReason .feelterAdvantages img {
	max-width: 38rem;
	width: 100%;
	height: auto;
}

/* carousel */

.carouselContaner {
	max-width: 450px;
	background: rgba(255, 255, 255, 1);
	border-radius: 15px;
	box-shadow: 0px 2px 30px 0px rgb(194 200 205 / 25%);
}

.slick-slider {
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 30px rgba(194, 200, 205, 0.25);
}

.prevArrow {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(56, 166, 64, 1);
	padding: 8px 13px;
	font-size: 1rem;
	border-radius: 50%;
	color: rgba(56, 166, 64, 1);
	transform: translateX(-20px);
	cursor: pointer;
}

.nextArrow {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(56, 166, 64, 1);
	padding: 8px 13px;
	font-size: 1rem;
	border-radius: 50%;
	color: rgba(56, 166, 64, 1);
	transform: translateX(25px);
	cursor: pointer;
}

.carouselContainer {
	display: flex;
    padding-top: 2rem;
    background-color: #fff;
    align-items: center;
    max-width: 400px;
}

.carouselContainer > div.carouselProdContainer {
	display: flex;
	width: 300px;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.carouselContainer > div.carouselProdContainer > div.carouselProd {
	max-width: 100%;
	display: flex;
	flex-shrink: 0;
	scroll-snap-align: start;
	box-sizing: border-box;
}

.carouselProdTextCont {
	padding-left: 1.5rem;
	padding-bottom: 2.5rem;
	max-width: 240px;
}

.carouselProdTextCont > h4 {
	margin: 0;
}

.carouselProdTextCont > .carouselProdPosition {
	margin: 0;
	padding-top: .5rem;
	font-size: 1.2rem;
}

.carouselProdPic {
	border-radius: 15px;
	align-self: baseline;
}