.bodyLogin {
	display: flex;
}

.bodyLogin > * {
	width: 50%;
}

form#kc-form-login {
	font-size: 1rem;
}

.kc-form-login .pf-c-form__label {
	font-size: .87rem;
} 

#kc-form-options .checkbox > label {
	padding-left: unset;
}

#kc-form-options .checkbox > label input[type="checkbox"] + span.chackboxValue {
	display: flex;
	align-items: center;
	margin: 0.2em;
	cursor: pointer;
	padding: 0.2em;
}

.checkbox > label input[type="checkbox"] {
    display: none;
}

.checkbox > label input[type="checkbox"] + span.chackboxValue::before {
    content: "✔";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1rem;
    height: 1rem;
	border: 0.1em solid rgba(56, 166, 64, 1);
	border-radius: 0.2em;
	margin-right: 0.5em;
	color: transparent;
	transition: .2s;
}

.checkbox > label input[type="checkbox"]:active + span.chackboxValue::before {
	transform: scale(0);
}
  
.checkbox > label input[type="checkbox"]:checked + span.chackboxValue::before {
	color: rgba(56, 166, 64, 1);
	transform: scale(1);
}

#kc-form-login .forgotPassContainer {
	padding-top: .5rem;
}

#kc-form-login .forgotPass {
	font-size: 1rem;
    color: rgba(255, 68, 45, 1)
    /* text-decoration: none; */
    /* padding-left: .5rem; */
}


.login-pf-page {
	padding: 0;
}

#kc-header {
    display: none;
}

.login-pf-page {
	height: inherit;
    display: flex;
    align-items: center;
}

.card-pf {
	width: 100%;
}

form#kc-reset-password-form + #kc-info {
	display: none;
}

/* login social */

div.socialAccContainer {
	display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-gap: 1rem;
    margin: 1rem 0;
	--pf-l-grid__item--GridColumnEnd: inherit
}

div.socialAccContainer > .socialAcc {
	width: fit-content;
}

div.socialAccContainer > .socialAcc .socialIconText {
	display: none;
}

.fa-instagram:before {
	content: url("${url.resourcesPath}/img/facebookOrg.svg");
}
